.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 6em;
  border-radius: 8px;
  padding: 10px;
  width: 90%;
  background-color: aquamarine;
  display: grid;
  grid-template-columns: repeat(Auto-fit, minmax(260px, 1fr));
  gap: 10px;
}

@media (max-width: 400px) {
  .container {
    width: 100%;
    margin-top: 1rem;
  }
}

.container > div {
  border: 1px solid #363636;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #242424;
}

img {
  width: 280px;
  height: 250px;
}
